<%= form_with(model: user, html: { data: { controller: "user-form" } }) do |form| %>
  <div class="row justify-content-center">
    <div class="col-11 col-md-10 col-lg-4 px-3 px-md-0">
      <h1 style="font-family: 'Times New Roman', Times, serif; color: #b29c84; text-align: center; margin-top: 3rem; margin-bottom: 1rem; letter-spacing: 0.2em;">ROPER LAWYERS</h1>
      <div class="text-center m-3 ">
        <h2>Information required</h2>
        <p>
          The following details are required by administrative bodies and notaries.<br>
          If you're unsure of any item, you can log in and update it later.<br>
          We'll be notified of any changes and will review them accordingly.
        </p>
      </div>
      <% if user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
      <%= pluralize(user.errors.count, "error") %> prohibited this form from being saved:
            <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
      <% end %>

      <%= render_user_form_section(form, :personal, user) %>

      <%= render_user_form_section(form, :passport, user) %>

      <%= render_user_form_section(form, :nie_information, user) %>

      <%= render_user_form_section(form, :power_of_attorney, user, id: "section_poa", "data-user-form-target": "poaSection") %>

      <%= render_user_form_section(form, :requested_services, user) %>

      <%= render_user_form_section(form, :property_sale, user, id: "section_property_sale", "data-user-form-target": "sectionSale", style: "display:none") %>

      <%= render_user_form_section(form, :new_build_declaration, user, id: "section_new_build", "data-user-form-target": "sectionNewBuild", style: "display:none") %>

      <div class="card p-5 mb-5 card-shadow" id="section_property_purchase" data-user-form-target="sectionPurchase" style="display:none">
        <%= render_user_form_section(form, :property_purchase, user, no_wrapper: true) %>
        <hr class="hr mb-3" style="color: #b29c84;">
        <%= render_user_form_section(form, :bank_details, user, no_wrapper: true) %>
      </div>

      <%= render_user_form_section(form, :will_testament, user, id: "section_will", "data-user-form-target": "sectionWill", style: "display:none") %>

      <%= render_user_form_section(form, :vv_license_documents, user, id: "section_documents", "data-user-form-target": "sectionDocuments", class: "card p-5 mb-3 card-shadow", style: "display:none") %>

      <div class="d-grid mb-3">
        <%= form.submit "Submit", class:"btn btn-lg mb-2", style:"background-color: #b29c84; color: white;", data: { action: "click->user-form#disableOnSubmit" } %>
      </div>

      <div class="mb-5">
        Have any questions? <a href="wa.me/+34649948377" style="color: #b29c84; text-decoration: none; font-weight: 500;">Send me a WhatsApp</a>
      </div>

      <p class="mt-5 mb-3 text-muted text-center">Roper Lawyers &copy; 2010-<%= Date.today.year %></p>
    </div>
  </div>
<% end %>