<%= form_with(model: user) do |form| %>
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-6">
    <div class="text-center mt-5 mb-3">
      <h1>Information required</h1>
      <h6>In order to draw up contracts and title deed we need you to<br>fill in the following information </h6>
    </div>

    <div class="card p-5 mb-5 card-shadow">
      <h4>Personal details</h4>

      <% if user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
         <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:<br/>
            <ul>
              <% user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>

      <div class="form-row align-items-center ">
        <div class="form-floating mb-3 col-auto">
          <%= form.text_field :first_name, class:"form-control", placeholder:"First name" %>
          <%= form.label :first_name %>
        </div>

        <div class="form-floating mb-3 col-auto">
          <%= form.text_field :last_name, class:"form-control", placeholder:"Last name" %>
          <%= form.label :last_name %>
          <div class="text-danger"><%= user.errors.full_messages_for(:last_name).first %></div>
        </div>
      </div>
          <div class="form-floating mb-3 ">
            <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
            <%= form.label :email %>
          </div>

        <div class="form-floating mb-3">
          <%= form.text_field :mobile_phone, class:"form-control", placeholder:"Mobile phone" %>
          <%= form.label :mobile_phone %>
        </div>

        <div class="form-floating mb-3">
          <%= form.text_field :full_name_on_passport, class:"form-control", placeholder:"Full name on passport" %>
          <%= form.label :full_name_on_passport %>
        </div>

  <div class="form-floating mb-3">
    <%= form.text_field :passport_number, class:"form-control", placeholder:"Passport number" %>
    <%= form.label :passport_number %>
  </div>

  <div class="form-floating mb-3">
    <%= form.date_field :date_of_birth, class: "form-control", placeholder: "Date of birth",
                        id: "dateOfBirthField", pattern: "\\d{4}-\\d{2}-\\d{2}" %>
    <%= form.label :date_of_birth %>
    <div class="text-danger" id="dateOfBirthError"></div>
  </div>

  <div class="form-floating mb-3">
    <%= form.date_field :expiry_date, class:"form-control", placeholder:"Expiry date" %>
    <%= form.label :expiry_date %>
  </div>

   <div class="form-floating mb-3">
   <%= form.select "nationality", options_for_select(%w[

      Belgian
      British
      Chinese
      Danish
      Dutch
      Finnish
      French
      German
      Greek
      Indian
      Irish
      Italian
      Norwegian
      Polish
      Spanish
      Swedish
      Swiss
      Romanian
    ], ""), { include_blank: true }, { class:"form-control", placeholder:"Nationality" } %>
    <%= form.label :nationality %>
   </div>

    <div class="rounded p-3 mb-3 bg-light">
      <p>Upload a copy of your passport</p>
      <div class="form-floating" >
       <%= form.file_field :passport_document%>
      </div>
    </div>

   <div class="form-floating mb-3">
    <%= form.text_field :profession, class:"form-control", placeholder:"Profession" %>
    <%= form.label :profession %>
   </div>

     <div class="form-floating mb-3">
    <%= form.text_field :marital_status, class:"form-control", placeholder:"Marital status" %>
    <%= form.label :marital_status %>
   </div>

    <div class="form-floating mb-3">
    <%= form.text_field :spouse, class:"form-control", placeholder:"Spouse" %>
    <%= form.label :spouse_full_name %>
    </div>

    <div class="form-floating mb-3">
    <%= form.text_field :home_address, class:"form-control", placeholder:"Home Address" %>
    <%= form.label :home_address %>
    </div>

    <p class="mt-3">Please state what currency you have the funds to purchase in order to send you instructions on the best way to transfer.</p>
      <div class="form-floating mb-3">
        <%= form.select "currency", options_for_select([
        "EUR", "GBP"
        ], ""), { include_blank: true}, { class:"form-control", placeholder: "currency" } %>
        <%= form.label :currency %>
     </div>

    <div class="form-floating mb-3">

    <%= form.date_field :here_till, class:"form-control", placeholder:"Here until" %>
   <%= form.label :here_till do %>
    If you are here currently please let us know until what date
      <% end %>
      </div>

  <p class="mt-3">Are you currently or wanting to apply for a mortgage?</p>
    <div class="form-floating mb-3">
      <%= form.select "needs_mortgage", options_for_select([
      "Yes", "No"
      ], ""), { include_blank: true}, { class:"form-control", placeholder: "needs_mortgage" } %>
      <%= form.label :apply_for_mortgage %>
    </div>

  <p class="mt-3">Are you going to holiday let your property? If so, we can apply for a tourist license.</p>
    <div class="form-floating mb-3">
      <%= form.select "wants_to_holiday_let", options_for_select([
      "Yes", "No"
      ], ""), { include_blank: true}, { class:"form-control", placeholder: "wants_to_holiday_let" } %>
      <%= form.label :holiday_let %>
    </div>
  <p class="mt-3">Are you a tax resident in Spain?</p>
    <div class="form-check mb-3">
      <%= form.check_box :tax_resident, class:"form-check-input", placeholder:"tax_resident" %>
      <%= form.label :spanish_tax_resident %>
    </div>

    </div>


    <%# PoA section %>
  <div class="card p-5 mb-5 card-shadow">
    <h4>Power of Attorney</h4>
    <p>Do you want to give Roper Lawyers a power of attorney so we can do everything for you, including applying for your NIE number, opening a Spanish bank account, apply for a mortgage, etc? You can make one either in Lanzarote if you are here or the country you live in and be sent to us.</p>
      <div class="form-floating mb-3">
        <%= form.select "needs_poa", options_for_select([
        "Yes", "No", "I've already given power to someone"
        ], ""), { include_blank: true }, { class:"form-control", placeholder:"Needs PoA" } %>
        <%= form.label :I_would_like_to_give_a_power_of_attorney %>
      </div>
      <p class="mt-3">Please state if you want to give us power to buy, sell, apply for a mortgage or all the above. We recommend choosing Buying, Selling & Mortgage for any future conveyancing.</p>
      <div class="form-floating mb-3">
        <%= form.select "poa_for", options_for_select([
        "Buying", "Selling", "Buying & Selling", "Buying, Selling & Mortgage"
        ], ""), { include_blank: true}, { class:"form-control", placeholder: "poa_for" } %>
        <%= form.label :power_of_attorney_for %>
     </div>


    <p class="mt-3">Please state if you want us to obtain the Power of Attorney in Spain or your home cournty? If its in your home cournty, we will be sending a draft to the closest notary where you live, you will have to sign it there, and the Notary will post the Power of Attorney to us.</p>
      <div class="form-floating mb-3">
        <%= form.select "poa_made_in_spain", options_for_select([
        "Yes", "No"
        ], ""), { include_blank: true}, { class:"form-control", placeholder: "poa_made_in_spain" } %>
        <%= form.label :Power_of_attorney_to_be_made_in_Spain? %>
     </div>


  </div>

<%# NIE section %>
<div class="card p-5 mb-5 card-shadow">
  <h4>NIE Number</h4>
  <p class="mb-3">
    If you already have an NIE, select “No” below, then enter it and upload a copy.  
    If you don’t have one, select “Yes” and we’ll apply on your behalf.
  </p>

  <fieldset class="mb-3">
    <legend class="col-form-label">Would you like us to apply for your NIE?</legend>
    <div class="form-check">
      <%= form.radio_button :needs_nie, 'yes',
            id: 'needs_nie_yes',
            class: 'form-check-input' %>
      <%= form.label :needs_nie_yes,
            'Yes – please apply on my behalf',
            class: 'form-check-label' %>
    </div>
    <div class="form-check">
      <%= form.radio_button :needs_nie, 'no',
            id: 'needs_nie_no',
            class: 'form-check-input' %>
      <%= form.label :needs_nie_no,
            'No – I already have an NIE',
            class: 'form-check-label' %>
    </div>
  </fieldset>

  <div id="nie_fields">
    <div class="form-floating mb-3">
      <%= form.text_field :nie_number,
            class: "form-control",
            placeholder: "NIE number" %>
      <%= form.label :nie_number, "NIE number" %>
    </div>
    <div class="mb-3">
      <p class="mb-1">Upload a copy of your NIE document</p>
      <%= form.file_field :nie_document, class: "form-control" %>
    </div>
  </div>

  <div id="parent_fields">
    <p class="mb-3">
      Please enter your parents’ first names so we can apply for your NIE:
    </p>
    <div class="form-floating mb-3">
      <%= form.text_field :father_s_first_name,
            class: "form-control",
            placeholder: "Father’s first name" %>
      <%= form.label :father_s_first_name, "Father’s first name" %>
    </div>
    <div class="form-floating mb-3">
      <%= form.text_field :mother_s_first_name,
            class: "form-control",
            placeholder: "Mother’s first name" %>
      <%= form.label :mother_s_first_name, "Mother’s first name" %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const yesRadio    = document.getElementById("needs_nie_yes");
    const noRadio     = document.getElementById("needs_nie_no");
    const nieFields   = document.getElementById("nie_fields");
    const parentFields= document.getElementById("parent_fields");

    function toggleFields() {
      if (yesRadio.checked) {
        parentFields.style.display = "block";
        nieFields.style.display    = "none";
      } else {
        parentFields.style.display = "none";
        nieFields.style.display    = "block";
      }
    }

    // initialize on load
    toggleFields();

    // listen for changes
    yesRadio.addEventListener("change", toggleFields);
    noRadio .addEventListener("change", toggleFields);
  });
</script>



<%# Bank details section %>
<style>
  /* Grey out read‑only fields so they look disabled, but still submit */
  .form-control[readonly] {
    background-color: #e9ecef;
  }
</style>

<div class="card p-5 mb-5 card-shadow">
  <h4>Bank details</h4>

  <!-- 1) Will you pay a reservation deposit? -->
  <fieldset class="mb-4">
    <legend class="col-form-label">Will you or have you paid a reservation deposit?</legend>
    <div class="form-check form-check-inline">
      <%= form.radio_button :will_pay_reservation, 'yes',
            id: 'pay_res_yes',
            class: 'form-check-input' %>
      <%= form.label :pay_res_yes, 'Yes', class: 'form-check-label me-3' %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :will_pay_reservation, 'no',
            id: 'pay_res_no',
            class: 'form-check-input' %>
      <%= form.label :pay_res_no, 'No', class: 'form-check-label' %>
    </div>
  </fieldset>

  <!-- 2) Reservation (optional) -->
  <div id="reservation_container" class="mb-4">
    <h6>Reservation deposit – bank account details</h6>
    <div class="form-floating mb-3">
      <%= form.text_field :r_origin_bank_details,
            class: "form-control",
            id: "reservation_bank",
            placeholder: "Bank account details" %>
      <%= form.label :r_origin_bank_details, "Reservation deposit" %>
    </div>
  </div>

  <!-- 3) Same‑account checkbox -->
  <div class="form-check mb-4">
    <%= form.check_box :use_same_account,
          { class: "form-check-input", id: "use_same_account" },
          "1", "0" %>
    <%= form.label :use_same_account,
          "Use the same bank account for all payments",
          class: "form-check-label" %>
  </div>

  <!-- Private contract payment -->
  <h6>Private contract payment – bank account details</h6>
  <div class="form-floating mb-4">
    <%= form.text_field :otb_origin_bank_details,
          class: "form-control",
          id: "contract_bank",
          placeholder: "Bank account details" %>
    <%= form.label :otb_origin_bank_details, "Private contract payment" %>
  </div>

  <!-- Remaining balance -->
  <h6>Remaining balance – bank account details</h6>
  <p class="text-muted mb-2">
    If paying into our account, type “Roper Lawyers” here.
  </p>
  <div class="form-floating mb-4">
    <%= form.text_field :balance_bank_details,
          class: "form-control",
          id: "balance_bank",
          placeholder: "Bank account details" %>
    <%= form.label :balance_bank_details, "Remaining balance" %>
  </div>

  <!-- Spanish account question -->
  <h6>Do you have a Spanish bank account?</h6>
  <div class="mb-3">
    <div class="form-check form-check-inline">
      <%= form.radio_button :has_a_spanish_bank_account, 'yes',
            id: 'spanish_yes',
            class: 'form-check-input' %>
      <%= form.label :spanish_yes, 'Yes', class: 'form-check-label me-3' %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :has_a_spanish_bank_account, 'no',
            id: 'spanish_no',
            class: 'form-check-input' %>
      <%= form.label :spanish_no, 'No', class: 'form-check-label' %>
    </div>
  </div>

  <!-- Utility standing order -->
  <h6>Utility standing order – bank account details</h6>
  <p class="text-muted mb-2">
    Must be a Spanish account. Leave blank if you don’t have one yet.
  </p>
  <div class="form-floating mb-3">
    <%= form.text_field :standing_orders_bank_details,
          class: "form-control",
          placeholder: "Bank account details" %>
    <%= form.label :standing_orders_bank_details, "Utility standing order" %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const payYes       = document.getElementById("pay_res_yes");
    const payNo        = document.getElementById("pay_res_no");
    const resContainer = document.getElementById("reservation_container");
    const sameCB       = document.getElementById("use_same_account");
    const reservation  = document.getElementById("reservation_bank");
    const contract     = document.getElementById("contract_bank");
    const balance      = document.getElementById("balance_bank");

    function toggleReservation() {
      resContainer.style.display = payYes.checked ? "block" : "none";
      syncFields();
    }

    function syncFields() {
      // choose master field: reservation if visible, else contract
      const master = resContainer.style.display === "block"
                     ? reservation
                     : contract;

      if (sameCB.checked) {
        // copy into others and make read‑only
        contract.value = master.value;
        balance.value  = master.value;
        contract.readOnly = true;
        balance.readOnly  = true;
      } else {
        // allow editing
        contract.readOnly = false;
        balance.readOnly  = false;
      }
    }

    // initialize
    toggleReservation();

    // event listeners
    payYes.addEventListener("change",  toggleReservation);
    payNo .addEventListener("change",  toggleReservation);
    sameCB.addEventListener("change", syncFields);
    [reservation, contract].forEach(el =>
      el.addEventListener("input", syncFields)
    );
  });
</script>


<%# Will section %>
  <div class="card p-5 mb-5 card-shadow">
    <h4>Last Will and Testament</h4>
    <p class="mb-5">Do you want a Will & Last Testament? If so, please fill in the fields below. The costs per Will is 400€ (Translator approx. 100€, Notary approx. 50€)</p>
      <div class="form-floating mb-3">
        <%= form.text_field :name_of_the_present_spouse, class:"form-control", placeholder:"Name of the present spouse"  %>
        <%= form.label :name_of_the_present_spouse %>
      </div>

      <div class="form-floating mb-3">
        <%= form.text_field :name_of_the_previous_spouses, class:"form-control", placeholder:"Name of the previous spouse" %>
        <%= form.label :name_of_the_previous_spouses %>
      </div>

      <div class="form-floating mb-3">
        <%= form.date_field :date_of_divorce, class:"form-control", placeholder:"Date of divorce"  %>
        <%= form.label :date_of_divorce %>
      </div>

      <div class="form-floating mb-3">
        <%= form.date_field :date_of_decease, class:"form-control", placeholder:"Date of decease"  %>
        <%= form.label :date_of_decease %>
      </div>

      <div class="form-floating mb-3">
        <%= form.text_field :father_s_full_name, class:"form-control", placeholder:"Father's full name"  %>
        <%= form.label :father_s_full_name %>
      </div>

      <div class="form-floating mb-3">
        <%= form.select "father_s_vital_status", options_for_select([
        "Deceased", "Living"
        ], ""), { include_blank: true}, { class:"form-control", placeholder:"Father's vital status" } %>
        <%= form.label :father_s_vital_status %>
      </div>

      <div class="form-floating mb-3">
        <%= form.text_field :mother_s_full_name, class:"form-control", placeholder:"Mother's full name"  %>
        <%= form.label :mother_s_full_name %>
      </div>

      <div class="form-floating mb-3">
         <%= form.select "mother_s_vital_status", options_for_select([
        "Deceased", "Living"
        ], ""), { include_blank: true}, { class:"form-control", placeholder:"Mother's vital status" } %>
        <%= form.label :mother_s_vital_status %>
      </div>

      <div class="form-floating mb-3">
        <%= form.text_field :children, class:"form-control", placeholder:"Children"  %>
        <%= form.label :children %>
      </div>

      <div class="form-floating mb-3">
        <%= form.text_field :outline_of_bequests_and_oder_of_success, class:"form-control", placeholder:"Outline of Bequests and Order of Success"  %>
        <%= form.label :outline_of_bequests_and_oder_of_success %>
      </div>

      <div class="form-floating mb-3">
        <%= form.select "inheritance_to_be_governed_by", options_for_select([
          "Law of country of current nationality", "Nationality at the time of death", "Habitual place of residence at the time of death"
        ], ""), { include_blank: true}, { class:"form-control", placeholder:"Inheritance to be governed by" } %>
        <%= form.label :inheritance_to_be_governed_by %>
      <p class="m-2 small-text">Most clients choose "Law of country of current nationality". </p>
      </div>
  </div>

<%# VV License section %>
  <div class="card p-5 mb-5 card-shadow">
    <h4>VV License documents</h4>
    <p class="mb-5">VV license documents need to be uploaded in the following order:</p>
    
    <div class="rounded p-3 mb-3 bg-light">
      <p>Upload Nota Simple</p>
      <p class="text-muted">This is the document that proves property ownership in the Land Registry. If you do not have one, please leave this field blank.</p>
      <div class="form-floating" >
        <%= form.file_field :nota_simple_documents, multiple: true %>
      </div>
    </div>
    
    <div class="rounded p-3 mb-3 bg-light">
      <p>Upload Title Deed (Escritura)</p>
      <div class="form-floating" >
        <%= form.file_field :title_deed_documents, multiple: true %>
      </div>
    </div>
    
    <div class="rounded p-3 mb-3 bg-light">
      <p>Upload VV License</p>
      <div class="form-floating" >
        <%= form.file_field :vv_license_documents, multiple: true %>
      </div>
    </div>
    
    <div class="rounded p-3 mb-3 bg-light">
      <p>Upload First Occupation License</p>
      <div class="form-floating" >
        <%= form.file_field :first_occupation_license_documents, multiple: true %>
      </div>
    </div>
    
    <div class="rounded p-3 mb-3 bg-light">
      <p>Upload Energy Efficiency Certificate (CEE)</p>
      <div class="form-floating" >
        <%= form.file_field :cee_documents, multiple: true %>
      </div>
    </div>
    
    <div class="rounded p-3 mb-3 bg-light">
      <p>Upload Civil Liability Insurance Policy</p>
      <div class="form-floating" >
        <%= form.file_field :civil_liability_insurance_policy_documents, multiple: true %>
      </div>
    </div>
    
    <div class="rounded p-3 mb-3 bg-light">
      <p>Upload IGIC Registration (Modelo 400)</p>
      <div class="form-floating" >
        <%= form.file_field :igic_registration_modelo_400_document %>
      </div>
    </div>
  </div>

  <div class="d-grid  mb-3">
    <%= form.submit "Submit", class:"btn btn-primary btn-lg mb-2" %>
  </div>

 <div class="mb-5">
 Have any questions? <a href="wa.me/+34649948377">Send me a WhatsApp</a>
  </div>
  <p class="mt-5 mb-3 text-muted text-center">Roper Lawyers &copy; 2010-<%= Date.today.year %></p>
 </div >
  </div>
  </div>
   <% end %>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const dateOfBirthField = document.getElementById("dateOfBirthField");
            const dateOfBirthError = document.getElementById("dateOfBirthError");

            dateOfBirthField.addEventListener("input", function() {
                const inputDate = dateOfBirthField.value;
                const isValidFormat = dateOfBirthField.checkValidity();

                if (isValidFormat) {
                    const dateParts = inputDate.split("-");
                    const year = parseInt(dateParts[0]);
                    const month = parseInt(dateParts[1]);
                    const day = parseInt(dateParts[2]);

                    if (year >= 1900 && year <= 2020 && month >= 1 && month <= 12 && day >= 1 && day <= 31) {
                        dateOfBirthError.textContent = ""; // Clear the error message
                    } else {
                        dateOfBirthError.textContent = "Invalid date. Please choose a valid date for your date of birth!";
                    }
                } else {
                    dateOfBirthError.textContent = "Please use the format YYYY-MM-DD.";
                }
            });
        });
    </script>
