<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :passport_number %>
    <%= form.text_field :passport_number %>
  </div>

  <div class="field">
    <%= form.label :nie_number %>
    <%= form.text_field :nie_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :expiry_date %>
    <%= form.date_field :expiry_date %>
  </div>

  <div class="field">
    <%= form.label :mobile_phone %>
    <%= form.text_field :mobile_phone %>
  </div>

  <div class="field">
    <%= form.label :here_till %>
    <%= form.date_field :here_till %>
  </div>

  <div class="field">
    <%= form.label :full_name_on_passport %>
    <%= form.text_field :full_name_on_passport %>
  </div>

   <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
   </div>

   <div class="field">
    <%= form.label :profession %>
    <%= form.text_field :profession %>
   </div>

     <div class="field">
    <%= form.label :marital_status %>
    <%= form.text_field :marital_status %>
   </div>

     <div class="field">
    <%= form.label :spouse %>
    <%= form.text_field :spouse %>
   </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
