<%= form_with(model: user, html: { data: { controller: "user-form" } }) do |form| %>
<div class="row justify-content-center">
  <div class="col-11 col-md-10 col-lg-4 px-3 px-md-0">
    <h1 style="font-family: 'Times New Roman', Times, serif; color: #b29c84; text-align: center; margin-top: 3rem; margin-bottom: 1rem; letter-spacing: 0.2em;">ROPER LAWYERS</h1>
    <div class="text-center m-3 ">
      <h2>Information required</h2>
      <p>
        The following details are required by administrative bodies and notaries.<br>
        If you're unsure of any item, you can log in and update it later.<br>
        We'll be notified of any changes and will review them accordingly.
      </p>
    </div>
    <div class="card p-5 mb-5 card-shadow">
      <h4 class="mb-3">Personal details</h4>

      <% if user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
      <%= pluralize(user.errors.count, "error") %> prohibited this form from being saved:
            <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
      <% end %>

      <div class="row mb-3 g-3">
        <div class="col-md-6">
          <div class="form-floating">
            <%= form.text_field :first_name, class: "form-control", placeholder: "First name", required: true %>
            <%= form.label :first_name, "First name" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <%= form.text_field :last_name, class: "form-control", placeholder: "Last name", required: true %>
            <%= form.label :last_name, "Last name" %>
          </div>
        </div>
          </div>

        <div class="form-floating mb-3">
          <%= form.text_field :email, class: "form-control", placeholder: "Email address", required: true %>
          <%= form.label :email, "Email address" %>
        </div>

        <div class="form-floating mb-3">
          <%= form.text_field :mobile_phone, class: "form-control", placeholder: "Mobile phone number", required: true %>
          <%= form.label :mobile_phone, "Mobile phone number" %>
        </div>

        <div class="form-floating mb-3">
          <%= form.text_field :home_address, class: "form-control", placeholder: "Home address" %>
          <%= form.label :home_address, "Home address" %>
        </div>

        <div class="form-floating mb-3">
          <%= form.text_field :profession, class: "form-control", placeholder: "Profession" %>
          <%= form.label :profession, "Profession" %>
        </div>

        <div class="row mb-3 g-3">
          <div class="col-md-6">
            <div class="form-floating">
              <%= form.text_field :marital_status, class: "form-control", placeholder: "Marital status" %>
              <%= form.label :marital_status, "Marital status" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <%= form.text_field :spouse, class: "form-control", placeholder: "Spouse full name" %>
              <%= form.label :spouse, "Spouse full name" %>
            </div>
          </div>
        </div>
    <p class="mt-3">Are you a tax resident in Spain?</p>
    <div class="form-check mb-3">
      <%= form.check_box :tax_resident, class: "form-check-input", id: "tax_resident" %>
      <%= form.label :tax_resident, "Yes – I am a tax resident in Spain", class: "form-check-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.text_field :full_name_on_passport, class: "form-control", placeholder: "Full name on passport" %>
      <%= form.label :full_name_on_passport, "Full name on passport" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.text_field :passport_number, class: "form-control", placeholder: "Passport number" %>
      <%= form.label :passport_number, "Passport number" %>
    </div>

    <div class="row mb-3 g-3">
      <div class="col-md-6">
        <div class="form-floating">
          <%= form.date_field :date_of_birth, class: "form-control", placeholder: "YYYY-MM-DD" %>
          <%= form.label :date_of_birth, "Date of birth" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <%= form.date_field :expiry_date, class: "form-control", placeholder: "Passport expiry date" %>
          <%= form.label :expiry_date, "Passport expiry date" %>
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <%= form.select :nationality,
          options_for_select(%w[Belgian British Chinese Danish Dutch Finnish French German Greek Indian Irish Italian Norwegian Polish Spanish Swedish Swiss Romanian], user.nationality),
          { include_blank: "Select" },
          class: "form-control form-select" %>
      <%= form.label :nationality, "Nationality" %>
    </div>
    <div class="mb-3">
      <p class="mb-1">Upload a copy of your passport</p>
      <div class="file-upload-container">
        <label for="user_passport_document" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
          <span class="upload-text">Upload a file or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :passport_document, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
    </div>

<hr class="hr mb-3" style="color: #b29c84;">

<%# NIE section %>

<h4 class="mb-3 mt-3">NIE number</h4>
<p class="mb-3">
    An NIE (Foreigner Identification Number) is required for most official processes in Spain, including legal, financial, and administrative transactions.
  </p>

  <fieldset class="mb-3">
    <legend class="col-form-label">Would you like us to apply for your NIE?</legend>

    <div class="form-check mb-2">
      <%= form.radio_button :needs_nie, 'no',
            id: 'needs_nie_no',
            class: 'form-check-input',
            data: { 'user-form-target': 'nieNoRadio' } %>
      <%= form.label :needs_nie_no,
            'No – I already have an NIE',
            class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= form.radio_button :needs_nie, 'yes',
            id: 'needs_nie_yes',
            class: 'form-check-input',
            data: { 'user-form-target': 'nieYesRadio' } %>
      <%= form.label :needs_nie_yes,
            'Yes – please apply on my behalf',
            class: 'form-check-label' %>
    </div>
  </fieldset>

  <!-- hidden by default -->
  <div id="nie_fields" class="hidden-section" data-user-form-target="nieFields">
    <div class="form-floating mb-3">
      <%= form.text_field :nie_number,
            class: "form-control",
            placeholder: "Enter your NIE number",
            autocomplete: "off" %>
      <%= form.label :nie_number, "NIE number" %>
    </div>
    <div class="mb-3">
      <label class="form-label">Upload a copy of your NIE document</label>
      <div class="file-upload-container">
        <label for="user_nie_document" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
          <span class="upload-text">Upload a file or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :nie_document, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
    </div>
    </div>

  <!-- hidden by default -->
  <div id="parent_fields" class="hidden-section" data-user-form-target="parentFields">
    <p class="mb-3">
      Please enter your parents' first names so we can apply for your NIE:
    </p>
    <div class="row mb-3 g-3">
      <div class="col-md-6">
        <div class="form-floating">
          <%= form.text_field :father_s_first_name,
                class: "form-control",
                placeholder: "Father's first name",
                autocomplete: "off" %>
          <%= form.label :father_s_first_name, "Father's first name" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <%= form.text_field :mother_s_first_name,
                class: "form-control",
                placeholder: "Mother's first name",
                autocomplete: "off" %>
          <%= form.label :mother_s_first_name, "Mother's first name" %>
        </div>
      </div>
    </div>
     </div>
</div>

<div class="card p-5 mb-5 card-shadow">
  <h4 class="mb-3">Requested Services</h4>
  <p class="mb-3">Please tick all the services you would like us to assist you with:</p>

  <div class="mb-4">
    <h5 class="mb-2">Property Transactions</h5>
    <p class="mb-3">If you're buying or selling a property, please select the relevant option:</p>
    <div class="form-check ms-3">
      <%= form.check_box :requested_services, { multiple: true, class: "form-check-input service-checkbox", id: "service_purchase", 'data-user-form-target': 'servicePurchase' }, "Purchase", nil %>
      <%= form.label "requested_services_purchase", "I am purchasing a property", class: "form-check-label" %>
    </div>

    <div class="form-check ms-3">
      <%= form.check_box :requested_services, { multiple: true, class: "form-check-input service-checkbox", id: "service_sale", 'data-user-form-target': 'serviceSale' }, "Sale", nil %>
      <%= form.label "requested_services_sale", "I am selling a property", class: "form-check-label" %>
    </div>
  </div>

  <div class="mb-4">
    <h5 class="mb-2">Legal Documents</h5>
    <p class="mb-3">If you would like us to prepare any of the following legal documents, please tick below:</p>
    <div class="form-check ms-3">
      <%= form.check_box :requested_services, { multiple: true, class: "form-check-input service-checkbox", id: "service_will", 'data-user-form-target': 'serviceWill' }, "Will & Last Testament", nil %>
      <%= form.label "requested_services_will", "Will & Last Testament", class: "form-check-label" %>
    </div>

    <div class="form-check ms-3">
      <%= form.check_box :requested_services, { multiple: true, class: "form-check-input service-checkbox", id: "service_new_build", 'data-user-form-target': 'serviceNewBuild' }, "New Build Declaration", nil %>
      <%= form.label "requested_services_new_build", "New Build Declaration", class: "form-check-label" %>
    </div>
  </div>

  <div class="mb-3">
    <h5 class="mb-2">Holiday Let Compliance (Short-Term Rentals)</h5>

  <p class="mb-3">
If you plan to holiday let your property, three legal steps are required. Tick any you'd like us to handle:  </p>

    <div class="form-check ms-3">
      <%= form.check_box :requested_services, { multiple: true, class: "form-check-input service-checkbox", id: "service_vv", 'data-user-form-target': 'serviceVv' }, "VV Licence", nil %>
      <%= form.label "requested_services_vv", "Apply for VV Licence", class: "form-check-label" %>
    </div>

    <div class="form-check ms-3">
      <%= form.check_box :requested_services, { multiple: true, class: "form-check-input service-checkbox", id: "service_registry", 'data-user-form-target': 'serviceRegistry' }, "Unified Registry", nil %>
      <%= form.label "requested_services_registry", "Register with the Unified Registry", class: "form-check-label" %>
    </div>

    <div class="form-check ms-3">
      <%= form.check_box :requested_services, { multiple: true, class: "form-check-input service-checkbox", id: "service_activities", 'data-user-form-target': 'serviceActivities' }, "Classified Activities", nil %>
      <%= form.label "requested_services_activities", "Submit Classified Activities Declaration", class: "form-check-label" %>
    </div>
  </div>
</div>

<div class="card p-5 mb-5 card-shadow" id="section_property_sale" data-user-form-target="sectionSale" style="display:none">
  <h4 class="mb-3">Property Sale Details</h4>

      <div class="form-floating mb-3">
    <%= form.text_area :selling_property_address, class: "form-control", placeholder: "Selling property address", style: "height: 120px;" %>
    <%= form.label :selling_property_address, "Selling Property Address" %>
     </div>
</div>

<div class="card p-5 mb-5 card-shadow" id="section_new_build" data-user-form-target="sectionNewBuild" style="display:none">
  <h4 class="mb-3">New Build Declaration Information</h4>

    <div class="form-floating mb-3">
    <%= form.text_area :selling_property_address, class: "form-control", placeholder: "Selling property address", style: "height: 120px;" %>
    <%= form.label :selling_property_address, "Selling Property Address" %>
  </div>
      </div>

<div class="card p-5 mb-5 card-shadow" id="section_property_purchase" data-user-form-target="sectionPurchase" style="display:none">
  <h4 class="mb-3">Property Purchase Details</h4>
  <p class="mb-3">Enter the address of the property you intend to purchase:</p>
    <div class="form-floating mb-3">
    <%= form.text_area :buying_property_address, class: "form-control", placeholder: "Property address", style: "height: 120px;" %>
    <%= form.label :buying_property_address, "Property Address" %>
  </div>

  <p class="mt-3">What currency are your funds in?</p>
  <fieldset class="mb-3">
    <legend class="visually-hidden">Currency</legend>
    <div class="form-check form-check-inline">
      <%= form.radio_button :currency, 'EUR', id: 'currency_eur', class: 'form-check-input' %>
      <%= form.label :currency_eur, 'EUR (€)', class: 'form-check-label ms-1 me-4' %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :currency, 'GBP', id: 'currency_gbp', class: 'form-check-input' %>
      <%= form.label :currency_gbp, 'GBP (£)', class: 'form-check-label ms-1' %>
    </div>
  </fieldset>

  <p class="mt-3">Would you like us to pass your contact details to a trusted currency exchange company for a quote? (e.g., pounds to euros or vice versa)</p>
  <fieldset class="mb-3">
    <legend class="visually-hidden">FX quote referral consent</legend>
    <div class="form-check form-check-inline">
      <%= form.radio_button :fx_quote_referral_consent, true, id: 'fx_quote_referral_yes', class: 'form-check-input' %>
      <%= form.label :fx_quote_referral_yes, 'Yes', class: 'form-check-label ms-1 me-3' %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :fx_quote_referral_consent, false, id: 'fx_quote_referral_no', class: 'form-check-input' %>
      <%= form.label :fx_quote_referral_no, 'No', class: 'form-check-label ms-1' %>
    </div>
  </fieldset>

  <p class="mt-3">Will you need a mortgage?</p>
  <fieldset class="mb-3">
    <legend class="visually-hidden">Apply for mortgage</legend>
    <div class="form-check form-check-inline">
      <%= form.radio_button :needs_mortgage, 'Yes', id: "mortgage_yes", class: "form-check-input", 'data-user-form-target': 'needsMortgageYes' %>
      <%= form.label :mortgage_yes, 'Yes', class: 'form-check-label ms-1 me-3' %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :needs_mortgage, 'No', id: "mortgage_no", class: "form-check-input", 'data-user-form-target': 'needsMortgageNo' %>
      <%= form.label :mortgage_no, 'No', class: 'form-check-label ms-1' %>
    </div>
  </fieldset>

  <p class="mt-3">Do you plan to rent the property as a holiday let?</p>
  <fieldset class="mb-3">
    <legend class="visually-hidden">Holiday let property</legend>
    <div class="form-check form-check-inline">
      <%= form.radio_button :wants_to_holiday_let, 'Yes', id: "holiday_let_yes", class: "form-check-input", 'data-user-form-target': 'wantsToHolidayLetYes' %>
      <%= form.label :holiday_let_yes, 'Yes', class: 'form-check-label ms-1 me-3' %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :wants_to_holiday_let, 'No', id: "holiday_let_no", class: "form-check-input", 'data-user-form-target': 'wantsToHolidayLetNo' %>
      <%= form.label :holiday_let_no, 'No', class: 'form-check-label ms-1' %>
    </div>
  </fieldset>
<%# Bank details section %>
<hr class="hr mb-3" style="color: #b29c84;">
  <h4 class="mb-3">Bank details</h4>
  <p class="mb-3">
  Property purchase payments are typically made in three stages:

  </p>
  <ol class="ps-3 mb-4">
    <li><strong>Reservation fee</strong>  (1%) – to take the property off the market (estate‑agency sales only).</li>
    <li><strong>Deposit on exchange</strong> 9% (10% if no reservation fee) – due on exchange of contracts.</li>
    <li><strong>Balance on completion</strong> – the remaining amount on completion day.</li>
  </ol>
  <p class="mb-3">
    Under Spanish anti‑money‑laundering rules, the notary requires the bank name and IBAN of the account used for each payment
    (e.g. HSBC, IBAN GB29 MIDL 4012 3456 7890 12).<br>
    Please fill in the details below for each payment stage.</p>

  <!-- 0) Reservation deposit question -->
  <fieldset class="mb-4">
    <legend class="col-form-label">
      Have you paid—or will you pay—a reservation fee
      (under an estate‑agent agreement, if applicable)?
    </legend>

    <div class="form-check form-check-inline">
      <%= form.radio_button :will_pay_reservation, 'yes',
            id: 'will_pay_res_yes',
            class: 'form-check-input',
            data: { 'user-form-target': 'payYes' } %> <!-- Stimulus: payYesTarget -->
      <%= form.label :will_pay_res_yes,
            'Yes',
            class: 'form-check-label ms-1 me-3' %>
    </div>

    <div class="form-check form-check-inline">
      <%= form.radio_button :will_pay_reservation, 'no',
            id: 'will_pay_res_no',
            class: 'form-check-input',
            data: { 'user-form-target': 'payNo' } %> <!-- Stimulus: payNoTarget -->
      <%= form.label :will_pay_res_no,
            'No',
            class: 'form-check-label ms-1' %>
    </div>
  </fieldset>

  <!-- 1) Reservation fee (only if Yes) -->
  <div id="reservation_section" style="display: none;" data-user-form-target="resSection"> <!-- Stimulus: resSectionTarget -->
    <div class="form-floating mb-3">
      <%= form.text_field :reservation_deposit_account,
          id: "reservation_deposit_account",
          class: "form-control",
          placeholder: "Enter reservation fee bank name and IBAN",
          data: { 'user-form-target': 'payFee' } %> <!-- Stimulus: payFeeTarget -->
      <%= form.label :reservation_deposit_account, "Reservation fee account" %>
    </div>
  </div>

  <!-- 2) ALWAYS‑VISIBLE: Use same account? -->
  <div class="form-check mb-4">
    <%= form.check_box :use_same_account,
          { id: "use_same_account", class: "form-check-input", 'data-user-form-target': 'sameBox' } %> <!-- Stimulus: sameBoxTarget -->
    <%= form.label :use_same_account,
          "Use the same account for all payments",
          class: "form-check-label" %>
  </div>

  <!-- 3) Deposit on exchange -->
  <div class="form-floating mb-3">
    <%= form.text_field :private_contract_account,
          id: "private_contract_account",
          class: "form-control",
          placeholder: "Enter deposit on exchange bank name and IBAN",
          data: { 'user-form-target': 'contractFld' } %> <!-- Stimulus: contractFldTarget -->
    <%= form.label :private_contract_account, "Deposit on exchange account" %>
  </div>

  <!-- 4) Balance on completion -->
  <div class="form-floating mb-1">
    <%= form.text_field :remaining_balance_account,
          id: "remaining_balance_account",
          class: "form-control",
          placeholder: "Enter balance on completion bank name and IBAN",
          data: { 'user-form-target': 'balanceFld' } %> <!-- Stimulus: balanceFldTarget -->
    <%= form.label :remaining_balance_account, "Balance on completion account" %>
  </div>

  <!-- 5) Spanish bank account? -->
  <fieldset class="mb-3">
    <legend class="col-form-label mb-2">
      Do you have a Spanish bank account for utilities standing orders?
    </legend>
    <div class="form-check form-check-inline">
      <%= form.radio_button :has_spanish_account, 'yes',
            id: 'has_spanish_yes',
            class: 'form-check-input',
            data: { 'user-form-target': 'hasSpanishAccountYes' } %>
      <%= form.label :has_spanish_yes,
            'Yes',
            class: 'form-check-label ms-1 me-3' %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :has_spanish_account, 'no',
            id: 'has_spanish_no',
            class: 'form-check-input',
            data: { 'user-form-target': 'hasSpanishAccountNo' } %>
      <%= form.label :has_spanish_no,
            'No',
            class: 'form-check-label ms-1' %>
    </div>
  </fieldset>

  <!-- 6) Utility standing order (only if Yes) -->
  <div id="utility_section" style="display: none;" data-user-form-target="utilitySection">
    <div class="form-floating mb-3">
      <%= form.text_field :utility_account,
            id: "utility_account",
            class: "form-control",
            placeholder: "Enter utility standing order bank name and IBAN" %>
      <%= form.label :utility_account, "Utility standing order account" %>
    </div>
  </div>

</div>

    <%# PoA section %>
  <div class="card p-5 mb-5 card-shadow" id="section_poa" data-user-form-target="poaSection" style="display:none">
  <h4 class="mb-3">Power of Attorney (PoA)</h4>
  <p class="mb-3">
By granting us a Power of Attorney, we'll handle everything for you.  </p>

  <!-- Q1: Grant PoA? -->
  <fieldset class="mb-3">
    <legend class="col-form-label">Would you like to grant us PoA?</legend>

    <div class="form-check mb-2">
      <%= form.radio_button :needs_poa, 'yes',
            id: 'needs_poa_yes',
            class: 'form-check-input',
            data: { 'user-form-target': 'needsPoaYes' } %>
      <%= form.label :needs_poa_yes,
            'Yes – please act on my behalf',
            class: 'form-check-label' %>
     </div>

    <div class="form-check mb-2">
      <%= form.radio_button :needs_poa, 'no',
            id: 'needs_poa_no',
            class: 'form-check-input',
            data: { 'user-form-target': 'needsPoaNo' } %>
      <%= form.label :needs_poa_no,
            'No – I do not require PoA',
            class: 'form-check-label' %>
     </div>

    <div class="form-check">
      <%= form.radio_button :needs_poa, 'already',
            id: 'needs_poa_already',
            class: 'form-check-input',
            data: { 'user-form-target': 'needsPoaAlready' } %>
      <%= form.label :needs_poa_already,
            'Another person holds PoA and will act on my behalf – please let us know and send us a copy',
            class: 'form-check-label' %>
    </div>
  </fieldset>

  <!-- Follow‑up only if Q1 = Yes -->
  <div id="poa_details" style="display: none;" data-user-form-target="poaDetails">

    <!-- Q2: Scope of PoA -->
    <fieldset class="mb-3">
      <legend class="col-form-label">Which matters should your PoA cover?</legend>

      <div class="form-check mb-2">
        <%= form.radio_button :poa_for, 'buying',
              id: 'poa_for_buying',
              class: 'form-check-input' %>
        <%= form.label :poa_for_buying,
              'Buying – purchase property on my behalf',
              class: 'form-check-label' %>
  </div>

      <div class="form-check mb-2">
        <%= form.radio_button :poa_for, 'selling',
              id: 'poa_for_selling',
              class: 'form-check-input' %>
        <%= form.label :poa_for_selling,
              'Selling – sell property on my behalf',
              class: 'form-check-label' %>
     </div>

      <div class="form-check mb-2">
        <%= form.radio_button :poa_for, 'both',
              id: 'poa_for_both',
              class: 'form-check-input' %>
        <%= form.label :poa_for_both,
              'Buying & Selling – handle both purchase and sale',
              class: 'form-check-label' %>
      </div>

      <div class="form-check">
        <%= form.radio_button :poa_for, 'all',
              id: 'poa_for_all',
              class: 'form-check-input' %>
        <%= form.label :poa_for_all,
              'Buying, Selling & Mortgage – full conveyancing and mortgage powers',
              class: 'form-check-label' %>
      </div>
    </fieldset>

    <!-- Q3: Signing location -->
    <fieldset class="mb-3">
      <legend class="col-form-label">Where would you like to sign your PoA?</legend>

      <div class="form-check mb-2">
        <%= form.radio_button :poa_made_in_spain, 'yes',
              id: 'poa_spain_yes',
              class: 'form-check-input' %>
        <%= form.label :poa_spain_yes,
              'In Spain – sign before a Spanish notary with one of our team accompanying you',
              class: 'form-check-label' %>
      </div>

      <div class="form-check">
        <%= form.radio_button :poa_made_in_spain, 'no',
              id: 'poa_spain_no',
              class: 'form-check-input' %>
        <%= form.label :poa_spain_no,
              "At your local notary – we'll send a draft for you to sign and have it returned by courier",
              class: 'form-check-label' %>
      </div>
    </fieldset>

  </div>
</div>

<%# Will section %>
<div class="card p-5 mb-5 card-shadow" id="section_will" data-user-form-target="sectionWill" style="display:none">
  <h4>Last Will and Testament</h4>
  <p class="mb-3">
    Should you require a Will and Last Testament, kindly provide the necessary information below.<br>
  </p>

  <!-- 1) Are you currently married? -->
  <div class="mb-3">
    <%= form.label :currently_married, "Are you currently married?" %><br>
    <%= form.radio_button :currently_married, true,  id: "currently_married_true", 'data-user-form-target': 'currentlyMarriedTrue' %>
    <%= form.label         :currently_married_true, "Yes", class: "form-check-label" %>
    &nbsp;
    <%= form.radio_button :currently_married, false, id: "currently_married_false", 'data-user-form-target': 'currentlyMarriedFalse' %>
    <%= form.label         :currently_married_false, "No",  class: "form-check-label" %>
  </div>

  <!-- If married, show this: -->
  <div id="current_spouse_section" style="display:none;" data-user-form-target="currentSpouseSection">
    <div class="form-floating mb-3">
      <%= form.text_field :name_of_the_present_spouse,
           class: "form-control",
           placeholder: "Name of present spouse" %>
      <%= form.label :name_of_the_present_spouse, "Full name of present spouse" %>
    </div>
  </div>

  <!-- 2) Were you married before? -->
  <div class="mb-3">
    <%= form.label :previously_married, "Have you been married before?" %><br>
    <%= form.radio_button :previously_married, true,  id: "previously_married_true", 'data-user-form-target': 'previouslyMarriedTrue' %>
    <%= form.label         :previously_married_true, "Yes", class: "form-check-label" %>
    &nbsp;
    <%= form.radio_button :previously_married, false, id: "previously_married_false", 'data-user-form-target': 'previouslyMarriedFalse' %>
    <%= form.label         :previously_married_false, "No",  class: "form-check-label" %>
  </div>

  <!-- If previously married, show this: -->
  <div id="previous_spouse_section" style="display:none;" data-user-form-target="previousSpouseSection">
    <div class="form-floating mb-3">
      <%= form.text_field :name_of_the_previous_spouses,
           class: "form-control",
           placeholder: "Full name of previous spouse(s)" %>
      <%= form.label :name_of_the_previous_spouses, "Full name of previous spouse(s)" %>
    </div>
    <p class="m-2">If divorced, enter date of decree absolute:</p>
    <div class="form-floating mb-3">
      <%= form.date_field :date_of_divorce,
           class: "form-control",
           placeholder: "Date of divorce (DD/MM/YYYY)" %>
      <%= form.label :date_of_divorce, "Date of divorce" %>
    </div>
    <p class="m-2">If widowed, enter date of spouse's death:</p>
    <div class="form-floating mb-3">
      <%= form.date_field :date_of_decease,
           class: "form-control",
           placeholder: "Date of death (DD/MM/YYYY)" %>
      <%= form.label :date_of_decease, "Date of death" %>
    </div>
  </div>

  <!-- 3) Parental Details -->
  <!-- Father's Vital Status -->
<div class="mb-3">
  <%= form.label :father_s_vital_status, "Is your father alive?" %><br>

  <div class="form-check form-check-inline">
    <%= form.radio_button :father_s_vital_status, "Yes",
         id: "father_vital_status_living",
         class: "form-check-input" %>
    <%= form.label "father_vital_status_living", "Yes",
         class: "form-check-label" %>
  </div>

  <div class="form-check form-check-inline">
    <%= form.radio_button :father_s_vital_status, "No",
         id: "father_vital_status_deceased",
         class: "form-check-input" %>
    <%= form.label "father_vital_status_deceased", "No",
         class: "form-check-label" %>
  </div>
</div>

<!-- Mother's Vital Status -->
<div class="mb-3">
  <%= form.label :mother_s_vital_status, "Is your mother alive?" %><br>

  <div class="form-check form-check-inline">
    <%= form.radio_button :mother_s_vital_status, "Yes",
         id: "mother_vital_status_living",
         class: "form-check-input" %>
    <%= form.label "mother_vital_status_living", "Yes",
         class: "form-check-label" %>
  </div>

  <div class="form-check form-check-inline">
    <%= form.radio_button :mother_s_vital_status, "No",
         id: "mother_vital_status_deceased",
         class: "form-check-input" %>
    <%= form.label "mother_vital_status_deceased", "No",
         class: "form-check-label" %>
  </div>
</div>

  <!-- 4) Children & Dependents -->
  <div class="form-floating mb-3">
    <%= form.text_field :children,
         class: "form-control",
         placeholder: "Children (Name | DOB DD/MM/YYYY)" %>
    <%= form.label :children, "Children & dependents" %>
  </div>

  <!-- 5) Bequests & Order of Succession -->
<p>
  List the individuals or organisations you wish to inherit your estate, along with the item and percentage each should receive.<br>
  You may also name an alternative beneficiary in case someone is unable to inherit.
</p>

<p class="mb-2">
  <strong>Example:</strong><br>
  All assets in Spain: John Smith – 50%, Anna Smith – 50%.<br>
  If John is unable to inherit, his share should pass to James Clarke.
</p>

  <div class="form-floating mb-3">
    <%= form.text_area :outline_of_bequests_and_oder_of_success,
         class: "form-control",
         placeholder: "Outline of Bequests & Order of Succession" %>
    <%= form.label :outline_of_bequests_and_oder_of_success, "Beneficiaries & gifts" %>
  </div>

  <!-- 6) Governing Law -->
  <p class="mb-2">Select the country whose laws you would like to govern your inheritance:</p>
  <div class="form-floating mb-3">
    <%= form.select :inheritance_to_be_governed_by,
         [
           ["Law of country of current nationality","Law of country of current nationality"],
           ["Nationality at the time of death","Nationality at the time of death"],
           ["Habitual place of residence at the time of death","Habitual place of residence at the time of death"]
         ],
         { include_blank: "Select" },
         class: "form-control form-select" %>
    <%= form.label :inheritance_to_be_governed_by, "Inheritance governed by" %>
    <p class="m-2 small-text">
      Most people making a will choose the "Law of their current nationality".
    </p>
  </div>
</div>

<%# VV License section %>
  <div class="card p-5 mb-3 card-shadow" id="section_documents" data-user-form-target="sectionDocuments" style="display:none">
    <h4>Documents</h4>
    <p class="mb-3">Documents required to be uploaded:</p>

    <fieldset class="mb-3">
      <legend class="col-form-label mb-2">Can you provide the Title Deed (Escritura)?</legend>

      <div class="form-check mb-2">
        <%= form.radio_button :escritura, 'Provided',
              id: 'title_deed_upload_now',
              class: 'form-check-input',
              data: { 'user-form-target': 'titleDeedUploadNowRadio' } %>
        <%= form.label :title_deed_upload_now,
              'Yes, I will upload it now',
              class: 'form-check-label' %>
      </div>

      <div class="form-check mb-2">
        <%= form.radio_button :escritura, 'Client Will Provide',
              id: 'title_deed_send_later',
              class: 'form-check-input',
              data: { 'user-form-target': 'titleDeedSendLaterRadio' } %>
        <%= form.label :title_deed_send_later,
              'Yes, but I will send it later',
              class: 'form-check-label' %>
      </div>

      <div class="form-check mb-2">
        <%= form.radio_button :escritura, 'Client Cannot Find It',
              id: 'title_deed_cant_find',
              class: 'form-check-input',
              data: { 'user-form-target': 'titleDeedCantFindRadio' } %>
        <%= form.label :title_deed_cant_find,
              'I can\'t find it',
              class: 'form-check-label' %>
      </div>
    </fieldset>

    <div class="rounded mb-3" id="title_deed_upload_section" data-user-form-target="titleDeedUploadSection" style="display:none">
      <p>Upload Title Deed (Escritura)</p>
      <div class="file-upload-container mb-5">
        <label for="user_title_deed_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
          <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :title_deed_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
    </div>

    <div class="rounded mb-3">
      <p class="mb-2">Upload Nota Simple (Land Registry Ownership Certificate)</p>
      <p class="text-muted">If you don't have a recent copy of the Land Registry Ownership Certificate (Nota Simple), we can obtain it for you.</p>
      <div class="file-upload-container mb-5">
        <label for="user_nota_simple_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
          <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :nota_simple_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
    </div>

    <fieldset class="mb-3">
      <legend class="col-form-label mb-2">Do you have the Energy Efficiency Certificate (CEE)?</legend>
            <p class="text-muted">If you do not have this document, our office can manage the application on your behalf through a certified technician.</p>

      <div class="form-check mb-2">
        <%= form.radio_button :energy_efficiency_certificate_cee, 'Provided',
              id: 'cee_upload_now',
              class: 'form-check-input',
              data: { 'user-form-target': 'ceeUploadNowRadio' } %>
        <%= form.label :cee_upload_now,
              'Yes, I will upload it now',
              class: 'form-check-label' %>
      </div>

      <div class="form-check mb-2">
        <%= form.radio_button :energy_efficiency_certificate_cee, 'Client Will Provide',
              id: 'cee_send_later',
              class: 'form-check-input',
              data: { 'user-form-target': 'ceeSendLaterRadio' } %>
        <%= form.label :cee_send_later,
              'Yes, but I will send it later',
              class: 'form-check-label' %>
      </div>

      <div class="form-check mb-2">
        <%= form.radio_button :energy_efficiency_certificate_cee, 'We Need to Apply',
              id: 'cee_need_to_apply',
              class: 'form-check-input',
              data: { 'user-form-target': 'ceeNeedToApplyRadio' } %>
        <%= form.label :cee_need_to_apply,
              'No, please obtain one on my behalf',
              class: 'form-check-label' %>
      </div>
    </fieldset>

    <div class="rounded mb-3" id="cee_upload_section" data-user-form-target="ceeUploadSection" style="display:none">
      <p class="mb-2">Upload Energy Efficiency Certificate (CEE)</p>
      <div class="file-upload-container mb-5">
        <label for="user_cee_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
                 <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :cee_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
      </div>

    <div class="rounded mb-3" id="vv_license_upload_section">
      <p>Upload VV License</p>

      <div class="file-upload-container">
        <label for="user_vv_license_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
       <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :vv_license_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
      </div>

    <div class="rounded mb-3">
      <p class="mb-2">Upload First Occupation License</p>
      <p class="text-muted">If you do not have this document, our office can manage the application on your behalf and liaise with the relevant authorities.</p>
      <div class="file-upload-container mb-5">
        <label for="user_first_occupation_license_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
                 <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :first_occupation_license_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
      </div>

    <div class="rounded mb-3">
      <p>Upload Habitability Certificate</p>
      <div class="file-upload-container mb-5">
        <label for="user_habitability_certificate_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
                <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :habitability_certificate_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
      </div>

    <%# Municipal Certificate section is commented out
    <div class="rounded mb-3">
      <p>Upload Municipal Certificate</p>
      <div class="file-upload-container">
        <label for="user_municipal_certificate_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z"/></svg>
          </div>
                <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :municipal_certificate_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput'
        </label>
      </div>
      </div> %>

    <div class="rounded mb-3">
      <p>Upload Annual Property Tax Receipt (IBI)</p>
      <div class="file-upload-container mb-5">
        <label for="user_property_tax_receipt_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
                 <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :property_tax_receipt_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
      </div>

    <div class="rounded mb-3">
      <p>Upload Floor Plan</p>
      <div class="file-upload-container mb-5">
        <label for="user_floor_plan_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
       <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
           <%= form.file_field :floor_plan_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
      </div>

    <div class="rounded mb-3">
      <p>Upload Community Approval</p>
      <p class="text-muted">certificate issued by the community of owners confirming that short-term rentals are permitted within the building or development.</p>
      <div class="file-upload-container mb-5">
        <label for="user_community_approval_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
       <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
                    <%= form.file_field :community_approval_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
      </div>

    <div class="rounded mb-3" id="civil_liability_section">
      <p>Upload Civil Liability Insurance Policy</p>
      <div class="file-upload-container mb-5">
        <label for="user_civil_liability_insurance_policy_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
             <span class="upload-text">Upload files or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :civil_liability_insurance_policy_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
      </div>

    <div class="rounded mb-3" id="igic_registration_section">
      <p>Upload IGIC Registration (Modelo 400)</p>
      <div class="file-upload-container mb-5">
        <label for="user_igic_registration_modelo_400_document" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
         <span class="upload-text">Upload a file or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :igic_registration_modelo_400_document, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
    </div>

    <div class="rounded mb-3" id="water_bill_section" data-user-form-target="waterBillSection" style="display:none">
      <p>Upload Water Bill</p>
      <div class="file-upload-container mb-5">
        <label for="user_water_bill_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
         <span class="upload-text">Upload a file or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :water_bill_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
    </div>

    <div class="rounded mb-3" id="electricity_bill_section" data-user-form-target="electricityBillSection" style="display:none">
      <p>Upload Electricity Bill</p>
      <div class="file-upload-container mb-5">
        <label for="user_electricity_bill_documents" class="file-upload-label" data-user-form-target="fileUploadLabel">
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="grey" style="width: 1em; height: 1em;"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z" /></svg>
          </div>
         <span class="upload-text">Upload a file or drag & drop</span>
          <span class="file-types">PDF, JPG, PNG</span>
          <%= form.file_field :electricity_bill_documents, multiple: true, class: "file-upload-input", 'data-user-form-target': 'fileUploadInput' %>
        </label>
      </div>
    </div>
  </div>

  <div class="d-grid mb-3">
    <%= form.submit "Submit", class:"btn btn-lg mb-2", style:"background-color: #b29c84; color: white;", data: { action: "click->user-form#disableOnSubmit" } %>
  </div>

 <div class="mb-5">
 Have any questions? <a href="wa.me/+34649948377" style="color: #b29c84; text-decoration: none; font-weight: 500;">Send me a WhatsApp</a>
  </div>
  <p class="mt-5 mb-3 text-muted text-center">Roper Lawyers &copy; 2010-<%= Date.today.year %></p>
 </div>
  </div>
  </div>
   <% end %>