<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-6">
    <h1 style="font-family: 'Times New Roman', Times, serif; color: #b29c84; text-align: center; margin-top: 3rem; margin-bottom: 1rem; letter-spacing: 0.2em;">ROPER LAWYERS</h1>
    <div class="text-center mb-4">
      <h2>Your Submitted Information</h2>
      <p class="text-muted">Review the details you've provided. You can edit this information if needed.</p>
    </div>

    <% UserFieldDefinitions.all_non_attachment_fields.each do |section_key, section_data| %>
      <% next unless section_data[:form_section] %>
      <% next unless should_display_section?(@user, section_data) %>
      <% next unless section_has_content?(@user, section_data) %>
      
      <div class="card p-4 mb-4 card-shadow">
        <h4 class="mb-3 border-bottom pb-2"><%= section_data[:title] %></h4>
              
        <div class="row">
          <% fields_with_values = section_data[:fields].select do |field_name, field_config| %>
            <% !field_config[:virtual] && field_has_value?(@user, field_name, field_config) %>
          <% end %>
          
          <% fields_with_values.each_with_index do |(field_name, field_config), index| %>
            <div class="col-md-6 mb-3">
              <p><strong><%= field_config[:email_label] || field_config[:label] %>:</strong><br>
              <%= render_user_field_value(@user, field_name, field_config) %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- Consolidated Documents Section -->
    <% attachment_fields = UserFieldDefinitions.all_attachment_fields.select do |field_data| %>
      <% field_has_value?(@user, field_data[:field_name], field_data[:field_config]) %>
    <% end %>
    <% if attachment_fields.any? %>
      <div class="card p-4 mb-4 card-shadow">
        <h4 class="mb-3 border-bottom pb-2">Uploaded Documents</h4>
        
        <div class="row">
          <% attachment_fields.each do |field_data| %>
            <div class="col-md-6 mb-3">
              <p><strong><%= field_data[:field_config][:email_label] || field_data[:field_config][:label] %>:</strong><br>
              <%= render_user_field_value(@user, field_data[:field_name], field_data[:field_config]) %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- Actions -->
    <div class="row justify-content-center mb-5">
      <%= link_to 'Edit Your Information', edit_user_path(@user), class: "btn btn-lg mb-2 col-md-5 m-2", style: "background-color: #b29c84; color: white;" %>
      <%= link_to "Logout", destroy_user_session_path, class: "btn btn-outline-secondary btn-lg col-md-5 m-2", method: :delete %>
    </div>

    <p class="mt-5 mb-3 text-muted text-center">Roper Lawyers &copy; 2010-<%= Date.today.year %></p>
  </div>
</div>
