<div class="row justify-content-center m-5">
<div class="col-12 col-md-10 col-lg-6">

<h1 class="mt-5 text-center">Your submited information</h1>

<div class="card p-5 mb-3 card-shadow">

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile_phone %>
</p>

<p>
  <strong>Full name on passport:</strong>
  <%= @user.full_name_on_passport %>
</p>

<p>
  <strong>Passport number:</strong>
  <%= @user.passport_number %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @user.date_of_birth&.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Expiry Date </strong>
  <%= @user.expiry_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @user.nationality %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @user.profession %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @user.marital_status %>
</p>

<p>
  <strong>Spouse full name:</strong>
  <%= @user.spouse %>
</p>

<p>
  <strong>In Lanzarote until:</strong>
  <%= @user.here_till.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Power of Attorney:</strong>
  <%= @user.needs_poa %>
</p>

<p>
  <strong>NIE Number:</strong>
  <%= @user.nie_number %>
</p>


<p>
  <strong>Father's first name:</strong>
  <%= @user.father_s_first_name %>
</p>

<p>
  <strong>Mother's first name:</strong>
  <%= @user.mother_s_first_name %>
</p>

<p>
  <strong>Reservation origin bank:</strong>
  <%= @user.r_origin_bank_details %>
</p>

<p>
  <strong>Private Contract origin bank:</strong>
  <%= @user.otb_origin_bank_details %>
</p>

<p>
  <strong>Balance origin bank:</strong>
  <%= @user.balance_bank_details %>
</p>

<p>
  <strong>Utilities standing orders bank:</strong>
  <%= @user.standing_orders_bank_details %>
</p>
</div>
<%# will  %>
<p class="h1 text-center">Last Will and Testament</p>
<div class="container card p-5 mb-3 card-shadow">

<p>
  <strong>Name of the present spouse:</strong>
  <%= @user.name_of_the_present_spouse %>
</p>

<p>
  <strong>Name of the previous spouses:</strong>
  <%= @user.name_of_the_previous_spouses %>
</p>

<p>
  <strong>Date of divorce:</strong>
  <%= @user.date_of_divorce %>
</p>

<p>
  <strong>Date of decease:</strong>
  <%= @user.date_of_decease %>
</p>

<p>
  <strong>Father's full name:</strong>
  <%= @user.father_s_full_name %>
</p>

<p>
  <strong>Father's vital status:</strong>
  <%= @user.father_s_vital_status %>
</p>

<p>
  <strong>Mother's vital status:</strong>
  <%= @user.mother_s_vital_status %>
</p>

<p>
  <strong>Mother's full name:</strong>
  <%= @user.mother_s_full_name %>
</p>

<p>
  <strong>Children:</strong>
  <%= @user.children %>
</p>

<p>
  <strong>Outline of Bequests and Order of Success:</strong>
  <%= @user.outline_of_bequests_and_oder_of_success %>
</p>

<p>
  <strong>Inheritance to be governed by:</strong>
  <%= @user.inheritance_to_be_governed_by %>
</p>



</div>

<%# uploaded docuemnts section  %>
<p class="h1 text-center">Uploaded documents</p>
<div class="container card p-5 mb-3 card-shadow">
<p>
<% if @user.nie_document.attached? %>
    <p>NIE Document:</strong><p>
    <%= image_tag @user.nie_document %>
<% end %>
</p>

<p>
<% if @user.passport_document.attached? %>
  <p>Passport Document:</p><br>
  <%= image_tag @user.passport_document %>
<% end %>
</p>

</div>

<div class="form-actions d-grid gap-2" >
    <%= link_to 'Edit' , edit_user_path(@user),  class:"btn btn-outline-primary btn-lg "%>
</div>

<p class="mt-5 mb-3 text-muted text-center">Roper Lawyers &copy; 2022</p>
</div>
</div>

