<section class="bg-dark">
  <div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
      <p class="col-md-4 mb-0 text-secondary">Roper Lawyers&copy; 2010-<%= Date.today.year %></p>
      <div>
        <%= link_to 'Lanzarote', lanzarote_path, class: "col-md-4 mb-0 text-secondary text-decoration-none" %>
        <%= link_to 'Fuerteventura', fuerteventura_path, class: "col-md-4 mb-0 text-secondary text-decoration-none" %>
        <%= link_to 'Gran Canaria', grancanaria_path, class: "col-md-4 mb-0 text-secondary text-decoration-none" %>
        <%= link_to 'Tenerife', tenerife_path, class: "col-md-4 mb-0 text-secondary text-decoration-none" %>
        <%= link_to 'Ibiza', ibiza_path, class: "col-md-4 mb-0 text-secondary text-decoration-none" %>
        <%= link_to 'Marbella', marbella_path, class: "col-md-4 mb-0 text-secondary text-decoration-none" %>
        <%= link_to 'Madrid', madrid_path, class: "col-md-4 mb-0 text-secondary text-decoration-none" %>
      </div>
    </footer>
  </div>
</section>
