<section class="bg-light">
<div class="container px-4 py-5 bg-light">
<div class="  ">
<h2 class="pb-4 m-3 text-center">We pride ourselves in provinding the best service.</h2>
</div>
<div class="row px-4 ">

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch ">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Louis Farrell</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text"> Firstly I am reviewing as a family of 4 who have just made our first move out of the uk and to Lanzarote.
          Olivier, Alexi and the team at roper lawyers genuinely made this possible for us. without their information, advice ...</p>
      <p><%= link_to "more", review_page_path %></p>
      </div>

    </div>
  </div>
  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Ali Elliott</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">Olivier and Alexi at Roper Lawyers are absolutely fabulous,
        we purchased a house in Gran Canaria (so not just limited to Lanzarote) and the service
        we received was second to none, it was efficient, knowledgeable, and ...</p>
        <p><%= link_to "more", review_page_path %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Nick N</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">Myself and my partner purchased a property in puerto del carmen and wanted to use a local lawyer who specialises in property-
After some research we chose Roper lawyers and were glad we did- A very pleasant ...</p>
<p><%= link_to "more", review_page_path %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Marek Wietlicki</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">Top legal service from Roper Lawyers. I would highly recommend them for professional help.
        As first time buyer of house in Spain, without knowlegde of Spanish language and local rules, it seemed very stressful to me and ...</p>
        <p><%= link_to "more", review_page_path %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Gill Hough </h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">Olivier and his team have just guided and supported us through the legal process of our first ever purchase abroad.
        The process was completely new to us and they were so patient and responsive to all our questions ...</p>
           <p><%= link_to "more", review_page_path %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">ACS 72</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">A pleasure to do business with.
          We came across Roper Lawyers after the experience we were having with our now previous lawyer (taking too long to respond to email requests, not appearing too bothered about doing ...</p>
        <p><%= link_to "more", review_page_path %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">David Malone</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">Excellent experience with Roper Lawyers. Purchasing a property in a foreign country can be an intimidating experience but Olivier and his team made it so easy with everything taken care of from the legalities involved ...</p>
        <p><%= link_to "more", review_page_path %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Tony O Driscoll</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">I recently purchased a property in lanzarote PDC old town and i decided to choose roper lawyers because they have extensive experience with dealing with property! Roper lawyers are highly trained and skilled and ...</p>
<%= link_to "more", review_page_path %>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Michelle Holton</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">AReally friendly and very helpful, I would definitely recommend Roper Lawyers to anyone purchasing a property. Would absolutely use them again in the future.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Fiona Taylor</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">Fantastic experience, brilliant professional lawyer. I cannot praise Olivier Roper and his team enough.
          I found Olivier via google and whilst a little apprehensive about selecting a lawyer this way the website reviews ...</p>
          <p><%= link_to "more", review_page_path %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Richard Burkmar</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">Excellent Service, helped us purchase our property from start to finish. A totally professional team that provided support and expertise to ensure that all requirements were fully managed. Would definitely use again and ...</p>
        <p><%= link_to "more", review_page_path %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Karen Wright</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">Excellent service from start to finish. Olivier and his staff were meticulous in their dealings helped enormously by being fluent in English and Spanish.
Highly recommended</p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Paul Hurst</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">First class service from start to finish. Olivier is very friendly and professional and did everything he could to help us out with anything that we asked him. Would definitely recommend him if you want a hassle fee process.
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Anne Steele</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">Highly recommend Roper Lawyers Lanzarote.
       Olivier Roper provided first class legal services in order to secure my property in Lanzarote.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 px-2 py-2 d-flex align-items-stretch">
    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Billy Murray</h5>
        <p class="text-warning">★★★★★</p>
        <p class="card-text">Very profesional eficient service.Would recommend to anyone.</p>
      </div>
    </div>
  </div>

</div>
</div>
</section>
