
<header>
<!-- Hotjar Tracking Code for www.roperlawyers.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2564836,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</header>

<main>
<section class="">



<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="/grancanaria">Roper Lawyers Gran Canaria</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse justify-content-end navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <a class="nav-link text-white" href="tel:+44 20 8135 8218">🇬🇧 +44 20 8135 8218<span class="sr-only">(current)</span></a>
            <a class="nav-link text-white" href="tel:+34 928 97 42 41">🇪🇸 +34 928 97 42 41<span class="sr-only">(current)</span></a>
        </ul>
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <button type="button" class="btn btn-light m-1 " href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/roperlawyers/15min?hide_gdpr_banner=1'});return false;">
          Free consultation
          </button>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}", class:" m-1" %>
      <% end %>

        <% if user_signed_in? %>
          <p class="text-muted">Logged in as <strong><%= current_user.email %></strong></p>
          <div class="pull-right">
          <%= link_to 'Dashboard', edit_user_path(current_user), class:"btn btn-outline-secondary m-1" %>
          </div>
          <%= link_to "Logout", destroy_user_session_path, class:"btn btn-outline-secondary m-1", method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-outline-secondary m-1" %>
          <%= link_to "Login", new_user_session_path, class:"btn btn-outline-secondary m-1" %>
        <% end %>

  </div>
</nav>

<div class="container"></div>
<div class="flash flash-warning alert alert-dismissible fade show" role="alert">
  <span>Due to wanting to give all our clients the best service possible we are only taking <%= pick_random_number_based_on_month %> more clients in <%= Date.current.strftime("%B") %>.</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
</div>
<div class="container p-4">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-md-5 mx-auto col-lg-5 video-width">
      <div class="iframe-container">
        <iframe src="https://www.youtube.com/embed/kFfRXeP_KEQ?autoplay=0&modestbranding=0&rel=0&fs=0&color=white&controls=0&disablekb=1" width="560" height="315" title="Roper Lawyers Gran Canaria" frameborder="0"></iframe>
      </div>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Estate Agents in Gran Canaria - <span class="gradient-text">Property Lawyers</span>.</h1>
        <p class="value-proposition">We specialise in providing you with clear, concise, straightforward, and trustworthy legal advice to facilitate a stress-free property purchase process in Gran Canaria. With over 12 years of experience, we are committed to ensuring your peace of mind throughout the transaction.</p>
        <div class="d-grid gap-2 d-md-flex my-4 justify-content-md-start">

          <%# <button type="button" class="btn btn-primary btn-lg px-4 p-3 me-md-2 my-3 gold-bg" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact</button> %>
        <div class="d-grid gap-2 d-flex w-100">

        <!-- Calendly link widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <button type="button" class="btn btn-outline-secondary btn-lg px-3  button-gold" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/roperlawyers/15min?hide_gdpr_banner=1'});return false;">
          <%= image_tag("Olivier-Roper-Solicitor-Roper-Lawyers-head.jpg", alt: "Olivier Roper", class:"olivier-head")  %>
          <p>Schedule a free consultation with Olivier Roper →</p>
          </button>
        </div>
<div>


           <a class="whatsapp-btn" href="https://wa.me/+34649948377" target="_blank">
           <div class="red-dot"></div>
           <i class="fa-brands fa-whatsapp"></i>
           </a>

          <script src="https://kit.fontawesome.com/6640eefe98.js" crossorigin="anonymous"></script>
        </div>

<!-- Calendly link widget end -->
          <%#  <button type="button" class="btn btn-outline-secondary btn-lg px-4 p-3 my-3 button-gold"></button>%>
        </div>
        <div>
        <i class="fa-solid fa-envelope"></i>
          <a class="emailus" href="mailto:info@roperlawyers.com">Email us</a>
          or call us on <i class="fa-solid fa-phone"></i><a class="emailus" href="tel:+34 928 97 42 41">+34 928 97 42 41</a>
        </div>
        <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#contactModal">
          Contact Us
        </button>
        <div>
        Read our
        <a class="reviews-link" href="#reviews"><strong>Google Reviews</strong>
        <span class="stars">5.0</span>
        <i class="fa-sharp fa-solid fa-star stars"></i>
        <i class="fa-sharp fa-solid fa-star stars"></i>
        <i class="fa-sharp fa-solid fa-star stars"></i>
        <i class="fa-sharp fa-solid fa-star stars"></i>
        <i class="fa-sharp fa-solid fa-star stars"></i>
        </a>
        </div>
      </div>
    </div>
  </div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id='contactUsForm'>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id='submitButton' class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
</section>



  <%= render 'main_page_sections/why_us' %>
  <%= render 'main_page_sections/about_us' %>
  <%= render 'main_page_sections/features' %>

  <div class="container px-4 py-5">
<div class="row">
<div class="col-12">
  <h2 class="pb-4 m-3 text-center">Property Lawyers in Gran Canaria - English-Speaking</h2>
</div>
</div>
<div class="row">
<div class="col-md-6 col-12">
<p>At Roper Lawyers, we understand the importance of clear communication, especially when it comes to legal matters. That is why our team of property lawyers in Gran Canaria is fluent in English, ensuring that our clients receive high-quality legal services without any language barriers.</p>
</div>
<div class="col-md-6 col-12">
<p>It does not matter if you are a local resident or an international investor, rest assured that our lawyers and estate agents in Gran Canaria will communicate with you effectively, providing comprehensive assistance every step of the way. Our commitment to excellence extends to our language proficiency, ensuring that you can fully understand the legal intricacies of your real estate transactions.</p>
</div>
</div>
<div class="row">
<div class="col-12">
  <h2 class="pb-4 m-3 text-center">Why Choose Roper Lawyers for Property Conveyancing?</h2>
</div>
</div>
<div class="row">
<div class="col-md-6 col-12">
<p>When it comes to property conveyancing in Gran Canaria, Roper Lawyers stands out for several reasons. Our team of expert property solicitors in Gran Canaria boasts a deep understanding of Spanish conveyancing laws, offering unmatched expertise and guidance to clients navigating real estate transactions.</p>
<p>With a track record of successful outcomes, we pride ourselves on delivering tailored legal advice that meets the unique needs of each client. Whether you are buying or selling property, our dedicated team ensures a smooth and efficient process from start to finish.</p>
</div>
<div class="col-md-6 col-12">
<p>We understand that every transaction is unique, and our lawyers are committed to providing personalised attention to ensure your peace of mind throughout the conveyancing process.</p>
<p>Our reputation for excellence extends beyond Gran Canaria; our <a href="https://www.roperlawyers.com/lanzarote">Lanzarote property lawyers</a> and <a href="https://www.roperlawyers.com/marbella">property lawyers in Marbella</a> are renowned for their exceptional service and expertise in their respective regions. With offices strategically located in key areas across Spain's Canary Islands and the mainland, our firm is well-equipped to handle real estate transactions throughout the region.</p>
</div>
</div>
<div class="row">
<div class="col-12">
  <h2 class="pb-4 m-3 text-center">Property Solicitors in Gran Canaria</h2>
</div>
</div>
<div class="row">
<div class="col-md-6 col-12">
<h3>Expert Gran Canaria Property Lawyers</h3>
<p>When it comes to real estate transactions in Gran Canaria, our team of property lawyers offers comprehensive legal services tailored to your needs. With a thorough understanding of Spanish conveyancing laws, we meticulously guide you through every aspect of the process, ensuring transparency and peace of mind.</p>
<p>If you're a first-time buyer or a seasoned investor, our expert advice and attention to detail ensure a successful transaction. From conducting thorough due diligence on the property to verifying its legal status and identifying any potential issues, our Gran Canaria property lawyers leave no stone unturned in safeguarding your interests throughout the conveyancing process. With our guidance, you can get through the complexities of real estate transactions in Gran Canaria with confidence, knowing that your legal matters are in capable hands.</p>
</div>
<div class="col-md-6 col-12">
<h3>Legal Advice Tailored for You</h3>
<p>We believe in providing personalised legal advice to our clients. Our property solicitors in Gran Canaria offer specialised expertise in real estate transactions, ensuring that you receive guidance tailored to your specific circumstances. From buying and selling to investing in property, we take the time to understand your goals and concerns, crafting legal solutions that align with your objectives.</p>
<p>Our team can also help with reviewing contracts and facilitating smooth negotiations! We are committed to providing legal services that enable you to achieve your property goals with confidence. Our dedication to client satisfaction drives us to go above and beyond in providing tailored legal advice and support, ensuring a seamless experience from start to finish.</p>
</div>
</div>
<div class="row">
<div class="col-12">
  <h2 class="pb-4 m-3">Consult Gran Canaria Property Lawyers for a Smooth Process</h2>
</div>
</div>
<div class="row">
<div class="col-12">
<p>Navigating the current housing climate requires experienced legal guidance, and our team at Roper Lawyers is here to help. Whether you're buying or selling, our property lawyers in Gran Canaria provide the support you need to navigate the complexities of real estate transactions successfully. Don't let legal hurdles stand in the way of your property goals – contact our team today and experience the difference of working with trusted experts in Gran Canaria property law.</p>
</div>
</div>
</div>

  <%= render 'main_page_sections/faq' %>
  <%= render 'main_page_sections/reviews', locals: { reviews: @reviews } %>
  <%= render 'main_page_sections/purchase_process' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <%= render 'main_page_sections/costs' %>
  <%= render 'main_page_sections/logos' %>
  <%= render 'main_page_sections/footer' %>
</main>
