
<header>
<!-- Hotjar Tracking Code for www.roperlawyers.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2564836,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</header>

<main>
<section class="">



<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="/grancanaria">Roper Lawyers Gran Canaria</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse justify-content-end navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <a class="nav-link text-white" href="tel:+44 20 8135 8218">🇬🇧 +44 20 8135 8218<span class="sr-only">(current)</span></a>
            <a class="nav-link text-white" href="tel:+34 928 97 42 41">🇪🇸 +34 928 97 42 41<span class="sr-only">(current)</span></a>
        </ul>
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <button type="button" class="btn btn-light m-1 " href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/roperlawyers/15min?hide_gdpr_banner=1'});return false;">
          Free consultation
          </button>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}", class:" m-1" %>
      <% end %>

        <% if user_signed_in? %>
          <p class="text-muted">Logged in as <strong><%= current_user.email %></strong></p>
          <div class="pull-right">
          <%= link_to 'Dashboard', edit_user_path(current_user), class:"btn btn-outline-secondary m-1" %>
          </div>
          <%= link_to "Logout", destroy_user_session_path, class:"btn btn-outline-secondary m-1", method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-outline-secondary m-1" %>
          <%= link_to "Login", new_user_session_path, class:"btn btn-outline-secondary m-1" %>
        <% end %>

  </div>
</nav>

<div class="container"></div>
<div class="flash flash-warning alert alert-dismissible fade show" role="alert">
  <span>Due to wanting to give all our clients the best service possible we are only taking <%= pick_random_number_based_on_month %> more clients in <%= Date.current.strftime("%B") %>.</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
</div>
<div class="container p-4">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-md-5 mx-auto col-lg-5 video-width">
      <div class="iframe-container">
        <iframe src="https://www.youtube.com/embed/kFfRXeP_KEQ?autoplay=0&modestbranding=0&rel=0&fs=0&color=white&controls=0&disablekb=1" width="560" height="315" title="Roper Lawyers Gran Canaria" frameborder="0"></iframe>
      </div>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Property Conveyancing Solicitors in <span class="gradient-text">Gran Canaria</span>.</h1>
        <p class="value-proposition">We pride ourselves by advising you with clear concise straightforward and trustworthy legal advice making the purchase of your property in Gran Canaria a stress-free process with over 12 years experience.
</p>
        <div class="d-grid gap-2 d-md-flex my-4 justify-content-md-start">

          <%# <button type="button" class="btn btn-primary btn-lg px-4 p-3 me-md-2 my-3 gold-bg" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact</button> %>
        <div class="d-grid gap-2 d-flex w-100">

        <!-- Calendly link widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <button type="button" class="btn btn-outline-secondary btn-lg px-3  button-super-white" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/roperlawyers/15min?hide_gdpr_banner=1'});return false;">
          <%= image_tag("Olivier-Roper-Solicitor-Roper-Lawyers-head.jpg", alt: "Olivier Roper", class:"olivier-head")  %>
          <p>Schedule a free consultation with Olivier Roper →</p>
          </button>
        </div>
<div>


           <a class="whatsapp-btn" href="https://wa.me/+34649948377" target="_blank">
           <div class="red-dot"></div>
           <i class="fa-brands fa-whatsapp"></i>
           </a>

          <script src="https://kit.fontawesome.com/6640eefe98.js" crossorigin="anonymous"></script>
        </div>

<!-- Calendly link widget end -->
          <%#  <button type="button" class="btn btn-outline-secondary btn-lg px-4 p-3 my-3 button-super-white"></button>%>
        </div>
        <div>
        <i class="fa-solid fa-envelope"></i>
          <a class="emailus" href="mailto:info@roperlawyers.com">Email us</a>
          or call us on <i class="fa-solid fa-phone"></i><a class="emailus" href="tel:+34 928 97 42 41">+34 928 97 42 41</a>
        </div>
        <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#contactModal">
          Contact Us
        </button>
        <div>
        Read our
        <a class="reviews-link" href="#reviews"><strong>Google Reviews</strong>
        <span class="stars">5.0</span>
        <i class="fa-sharp fa-solid fa-star stars"></i>
        <i class="fa-sharp fa-solid fa-star stars"></i>
        <i class="fa-sharp fa-solid fa-star stars"></i>
        <i class="fa-sharp fa-solid fa-star stars"></i>
        <i class="fa-sharp fa-solid fa-star stars"></i>
        </a>
        </div>
      </div>
    </div>
  </div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id='contactUsForm'>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id='submitButton' class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
</section>



  <%= render 'main_page_sections/why_us' %>
  <%= render 'main_page_sections/about_us' %>
  <%= render 'main_page_sections/features' %>
  <%= render 'main_page_sections/faq' %>
  <%= render 'main_page_sections/reviews', locals: { reviews: @reviews } %>
  <%= render 'main_page_sections/purchase_process' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <%= render 'main_page_sections/costs' %>
  <%= render 'main_page_sections/logos' %>
  <%= render 'main_page_sections/footer' %>
</main>
