<main>
  <%= render 'main_page_sections/first' %>
  <%= render 'main_page_sections/why_us' %>
  <%= render 'main_page_sections/about_us' %>
  <%= render 'main_page_sections/features' %>
  <%= render 'main_page_sections/reviews' %>
  <%= render 'main_page_sections/faq' %>
  <%= render 'main_page_sections/costs' %>
  <%= render 'main_page_sections/logos' %>
  <%= render 'main_page_sections/footer' %>
</main>
