<main>
  <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
    <span>Due to wanting to give all our clients the best service possible we are only taking <%= pick_random_number_based_on_month %> more clients in <%= Date.current.strftime("%B") %>.</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
  
  <div class="container p-4">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-md-5 mx-auto col-lg-5 video-width">
        <div class="iframe-container">
          <iframe src="https://www.youtube.com/embed/mGDE7ZpgVQE?autoplay=0&modestbranding=0&rel=0&fs=0&color=white&controls=0&disablekb=1" width="560" height="315" title="Roper Lawyers Madrid" frameborder="0"></iframe>
        </div>
      </div>
      
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Property Conveyancing Solicitors in <span class="gradient-text">Madrid</span>.</h1>
        <p class="value-proposition">We pride ourselves by advising you with clear concise straightforward and trustworthy legal advice making the purchase of your property in Madrid a stress-free process with over 12 years experience.</p>
        
        <div class="d-grid gap-2 d-md-flex my-4 justify-content-md-start">
          <%# <button type="button" class="btn btn-primary btn-lg px-4 p-3 me-md-2 my-3 gold-bg" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact</button> %>
          
          <div class="d-grid gap-2 d-flex w-100">
            <!-- Calendly link widget begin -->
            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
            <button type="button" class="btn btn-outline-secondary btn-lg px-3 button-gold" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/roperlawyers/15min?hide_gdpr_banner=1'});return false;">
              <%= image_tag("Olivier-Roper-Solicitor-Roper-Lawyers-head.jpg", alt: "Olivier Roper", class:"olivier-head")  %>
              <p>Schedule a free consultation with Olivier Roper →</p>
            </button>
          </div>
          <!-- Calendly link widget end -->
          
          <%# <button type="button" class="btn btn-outline-secondary btn-lg px-4 p-3 my-3 button-gold"></button> %>
        </div>
        
        <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#contactModal">
          Contact Us
        </button>
        
        <div>
          Read our
          <a class="reviews-link" href="#reviews"><strong>Google Reviews</strong>
            <span class="stars">5.0</span>
              <svg width="12" height="12" viewBox="0 0 24 24" class="me-1" fill="#FBBC04">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
              </svg>
              <svg width="12" height="12" viewBox="0 0 24 24" class="me-1" fill="#FBBC04">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
              </svg>
              <svg width="12" height="12" viewBox="0 0 24 24" class="me-1" fill="#FBBC04">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
              </svg>
              <svg width="12" height="12" viewBox="0 0 24 24" class="me-1" fill="#FBBC04">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
              </svg>
              <svg width="12" height="12" viewBox="0 0 24 24" fill="#FBBC04">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
              </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <%= render 'main_page_sections/why_us' %>
  <%= render 'main_page_sections/about_us' %>
  <%= render 'main_page_sections/features' %>
  <%= render 'main_page_sections/faq' %>
  <%= render 'main_page_sections/reviews', locals: { reviews: @reviews } %>
  <%= render 'main_page_sections/purchase_process' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <%= render 'main_page_sections/costs' %>
  <%= render 'main_page_sections/logos' %>
</main>
