<h2>User Update Notification</h2>

<p>
  New update from user: <%= @user.full_name %> (<%= @user.email %>)
</p>

<h3>User details</h3>

<table border="1" cellpadding="5" cellspacing="0" style="width: 100%; border-collapse: collapse;">
  <tr>
    <th align="left" style="background-color: #f2f2f2;">Attribute</th>
    <th align="left" style="background-color: #f2f2f2;">Value</th>
  </tr>
  
  <% UserFieldDefinitions::USER_FIELDS.each do |section_key, section_data| %>
    <tr>
      <td colspan="2" style="background-color: #f2f2f2;"><strong><%= section_data[:title] %></strong></td>
    </tr>
    
    <% section_data[:fields].each do |field_name, field_config| %>
      <% next if field_config[:virtual] %>
      <tr>
        <td><%= field_config[:email_label] || field_config[:label] %></td>
        <td><%= @user.format_field_value(field_name, @user.send(field_name), field_config) %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<p>
  <strong>Salesforce Contact ID:</strong> <%= @user.sf_contact_id.present? ? @user.sf_contact_id : "Not yet created" %>
</p>


